/* atma-regular */
@font-face {
  font-family: 'Atma';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/atma-400.ttf') format('truetype');
}

/* atma-500  */
@font-face {
  font-family: 'Atma';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/atma-500.ttf') format('truetype');
}

/* atma-600  */
@font-face {
  font-family: 'Atma';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/atma-600.ttf') format('truetype');
}

/* atma-700  */
@font-face {
  font-family: 'Atma';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/atma-700.ttf') format('truetype');
}
